.ferrari {
	width: 322px;
	position: absolute;
	left: -350px;
	bottom: 60px;
	z-index: 5;	
}

.ferrari img {
	width: 100%;
	animation: ferrari 25s linear infinite;
	animation-delay: 3s;
}

@keyframes ferrari {
	0% {
		transform: translate(0px, 0px);
	}
	2% {
		transform: translate(70px, 1px);
	}
	4% {
		transform: translate(140px, 0px);
	}
	6% {
		transform: translate(210px, 1px);
	}
	8% {
		transform: translate(280px, 0px);
	}
	10% {
		transform: translate(350px, 1px);
	}
	12% {
		transform: translate(420px, 0px);
	}
	14% {
		transform: translate(490px, 1px);
	}
	16% {
		transform: translate(560px, 0px);
	}
	18% {
		transform: translate(630px, 1px);
	}
	20% {
		transform: translate(700px, 0px);
	}
	22% {
		transform: translate(740px, 1px);
	}
	24% {
		transform: translate(750px, 0px);
	}
	26% {
		transform: translate(770px, 1px);
	}
	28% {
		transform: translate(770px, 0px);
	}
	30% {
		transform: translate(780px, 1px);
	}
	32% {
		transform: translate(790px, 0px);
	}
	34% {
		transform: translate(810px, 1px);
	}
	36% {
		transform: translate(900px, 0px);
	}
	38% {
		transform: translate(1000px, 9px);
	}
	40% {
		transform: translate(1150px, 18px);
	}
	42% {
		transform: translate(1300px, 26px);
	}
	44% {
		transform: translate(1450px, 25px);
	}
	46% {
		transform: translate(1470px, 26px);
	}
	48% {
		transform: translate(1490px, 25px);
	}
	50% {
		transform: translate(1510px, 26px);
	}
	52% {
		transform: translate(1530px, 25px);
	}
	54% {
		transform: translate(1550px, 26px);
	}
	56% {
		transform: translate(1560px, 25px);
	}
	58% {
		transform: translate(1650px, 26px);
	}
	60% {
		transform: translate(1750px, 20px);
	}
	62% {
		transform: translate(1850px, 14px);
	}
	64% {
		transform: translate(2000px, 7px);
	}
	66% {
		transform: translate(2150px, 0px);
	}
	68% {
		transform: translate(2300px, 0px);
	}
	70% {
		transform: translate(2450px, 1px);
	}
	72% {
		transform: translate(2600px, 0px);
	}
	74% {
		transform: translate(2750px, 1px);
	}
	76% {
		transform: translate(2900px, 0px);
	}
	78% {
		transform: translate(2910px, 1px);
	}
	80% {
		transform: translate(2920px, 0px);
	}
	82% {
		transform: translate(2930px, 1px);
	}
	84% {
		transform: translate(2940px, 0px);
	}
	86% {
		transform: translate(2950px, 1px);
	}
	88% {
		transform: translate(2960px, 0px);
	}
	90% {
		transform: translate(2970px, 1px);
	}
	92% {
		transform: translate(2980px, 0px);
	}
	94% {
		transform: translate(2990px, 1px);
	}
	96% {
		transform: translate(3000px, 0px);
	}
	98% {
		transform: translate(3000px, 1px);
	}
	100% {
		transform: translate(3000px, 0px);
	}
}


.fer_back {
	width: 54px;
	height: 54px;
	position: absolute;
	left: -325px;
	z-index: 6;
	bottom: 66px;
	animation: fer_back 25s linear infinite;
	animation-delay: 3s;
}


@keyframes fer_back {
	0% {
		transform: rotate(80000deg);
		left: -321px;
	}
	 2% {
	 	left: -251px;
 	 }
	 4% {
	 	left: -181px;
	 }
	 6% {
	 	left: -111px;
	 }
	 8% {
	 	left: -41px;
	 }
	 10% {
	 	left: 29px;
	 }
	 12% {
	 	left: 99px;
	 }
	 14% {
	 	left: 169px;
	 }
	 16% {
	 	left: 239px;
	 }
	 18% {
	 	left: 309px;
	 }
	 20% {
	 	left: 379px;
	 	transform: rotate(64000deg);
	 }
	 22% {
	 	left: 419px;
	 }
	 24% {
	 	left: 429px;
	 }
	 26% {
	 	left: 449px;
	 }
	 28% {
	 	left: 449px;
	 }
	 30% {
	 	left: 459px;
	 }
	 32% {
	 	left: 469px;
	 }
	 34% {
	 	left: 489px;
	 	transform: rotate(55600deg);
	 }
	 36% {
	 	left: 579px;
	 	bottom: 66px;
	 }
	 38% {
	 	left: 679px;
	 	bottom: 58px;
	 }
	 40% {
	 	left: 829px;
	 	bottom: 48px;
	 }
	 42% {
	 	left: 979px;
	 	bottom: 41px;
	 }
	 44% {
	 	left: 1129px;
	 	bottom: 41px;
	 	transform: rotate(40000deg);
	 }
	 46% {
	 	left: 1149px;
	 	bottom: 41px;
	 }
	 48% {
	 	left: 1169px;
	 	bottom: 41px;
	 }
	 50% {
	 	left: 1189px;
	 	bottom: 41px;
	 }
	 52% {
	 	left: 1209px;
	 	bottom: 41px;
	 }
	 54% {
	 	left: 1229px;
	 	bottom: 41px;
	 }
	 56% {
	 	left: 1239px;
	 	bottom: 41px;
	 	transform: rotate(32000deg);
	 }
	 58% {
	 	bottom: 41px;
	 	left: 1329px;
	 }
	 60% {
	 	bottom: 46px;
	 	left: 1429px;
	 }
	 62% {
	 	bottom: 53px;
	 	left: 1529px;
	 }
	 64% {
	 	bottom: 59px;
	 	left: 1679px;
	 }
	 66% {
	 	bottom: 67px;
	 	left: 1829px;
	 }
	 68% {
	 	left: 1979px;
	 }
	 70% {
	 	left: 2129px;
	 }
	 72% {
	 	left: 2279px;
	 }
	 74% {
	 	left: 2429px;
	 }
	 76% {
	 	left: 2579px;
	 	transform: rotate(10000deg);
	 }
	 78% {
	 	left: 2589px;
	 }
	 80% {
	 	left: 2599px;
	 }
	 82% {
	 	left: 2609px;
	 }
	 84% {
	 	left: 2619px;
	 }
	 86% {
	 	left: 2629px;
	 }
	 88% {
	 	left: 2639px;
	 }
	 90% {
	 	left: 2649px;
	 }
	 92% {
	 	left: 2659px;
	 }
	 94% {
	 	left: 2669px;
	 }
	 96% {
	 	left: 2679px;
	 }
	 98% {
	 	left: 2679px;
	 }
	100% { 
		transform: rotate(0deg); left: 2679px;
	}
}

.fer_forward {
	width: 51px;
	height: 51px;
	position: absolute;
	left: -129px;
	z-index: 6;
	bottom: 64px;
	animation: fer_forward 25s linear infinite;
	animation-delay: 3s;
}

@keyframes fer_forward {
	0% {
		transform: rotate(80000deg);
		left: -125px;
	}
		 2% {
	 	left: -55px;
 	 }
	 4% {
	 	left: 15px;
	 }
	 6% {
	 	left: 85px;
	 }
	 8% {
	 	left: 155px;
	 }
	 10% {
	 	left: 225px;
	 }
	 12% {
	 	left: 295px;
	 }
	 14% {
	 	left: 365px;
	 }
	 16% {
	 	left: 435px;
	 }
	 18% {
	 	left: 505px;
	 }
	 20% {
	 	left: 575px;
	 	transform: rotate(64000deg);
	 }
	 22% {
	 	left: 615px;
	 }
	 24% {
	 	left: 625px;
	 }
	 26% {
	 	left: 645px;
	 }
	 28% {
	 	left: 645px;
	 }
	 30% {
	 	left: 655px;
	 }
	 32% {
	 	left: 665px;
	 }
	 34% {
	 	left: 685px;
	 	transform: rotate(55600deg);
	 }
	 36% {
	 	left: 775px;
	 	bottom: 64px;
	 }
	 38% {
	 	left: 875px;
	 	bottom: 56px;
	 }
	 40% {
	 	left: 1025px;
	 	bottom: 46px;
	 }
	 42% {
	 	left: 1175px;
	 	bottom: 39px;
	 }
	 44% {
	 	left: 1325px;
	 	bottom: 39px;
	 	transform: rotate(40000deg);
	 }
	 46% {
	 	left: 1345px;
	 	bottom: 39px;
	 }
	 48% {
	 	left: 1365px;
	 	bottom: 39px;
	 }
	 50% {
	 	left: 1385px;
	 	bottom: 39px;
	 }
	 52% {
	 	left: 1405px;
	 	bottom: 39px;
	 }
	 54% {
	 	left: 1425px;
	 	bottom: 39px;
	 }
	 56% {
	 	left: 1435px;
	 	bottom: 39px;
	 	transform: rotate(32000deg);
	 }
	 58% {
	 	left: 1525px;
	 	bottom: 39px;
	 }
	 60% {
	 	left: 1625px;
	 	bottom: 44px;
	 }
	 62% {
	 	left: 1725px;
	 	bottom: 51px;
	 }
	 64% {
	 	left: 1875px;
	 	bottom: 57px;
	 }
	 66% {
	 	left: 2025px;
	 	bottom: 65px;
	 }
	 68% {
	 	left: 2175px;
	 }
	 70% {
	 	left: 2325px;
	 }
	 72% {
	 	left: 2475px;
	 }
	 74% {
	 	left: 2625px;
	 }
	 76% {
	 	left: 2775px;
	 	transform: rotate(10000deg);
	 }
	 78% {
	 	left: 2785px;
	 }
	 80% {
	 	left: 2795px;
	 }
	 82% {
	 	left: 2805px;
	 }
	 84% {
	 	left: 2815px;
	 }
	 86% {
	 	left: 2825px;
	 }
	 88% {
	 	left: 2835px;
	 }
	 90% {
	 	left: 2845px;
	 }
	 92% {
	 	left: 2855px;
	 }
	 94% {
	 	left: 2865px;
	 }
	 96% {
	 	left: 2875px;
	 }
	 98% {
	 	left: 2875px;
	 }
	100% { 
		transform: rotate(60deg);  left: 2875px;
	}
}
