.text_cloud {
	position: absolute;
	left: 1220px;
	bottom: 120px;
	z-index: 4;	
	width: 117px;
	animation: text_cloud 25s linear infinite;
	opacity: 0;
	animation-delay: 3s;
}

@keyframes text_cloud {
 0% {
 	left: 1050px;
 	opacity: 0;
 }
 2% {
 	
 }
 4% {
 	
 }
 6% {
 	
 }
 8% {
 	
 }
 10% {
 	
 }
 12% {
 	
 }
 14% {
 	
 }
 16% {
 	
 }
 18% {
 
 }
 20% {

  }

 22% {

 }
 24% {

 }
 26% {
 	
 }
 28% {
 	
 }
 30% {
 	
 }
 32% {
 	
 }
 34% {
 	
 }
 36% {
 	
 }
 38% {
 	
 }
 40% {
 	
 }
 42% {
 	left: 1050px;
 	opacity: 0;
 }
 43% {
 	opacity: 0; 
 	left: 1130px;	
 }
 44% {
 	opacity: 0; 
 	left: 1160px;
 }
 45% {
 	opacity: 1; 
 	left: 1170px;
 }

 46% {
 	left: 1180px;
 }
 48% {
 	left: 1200px;
 }
 50% {
 	left: 1220px;
 }
 52% {
 	left: 1240px;
 }
 54% {
 	left: 1260px;
 	opacity: 1;
 }
 55% {
 	left: 1265px;
 	opacity: 0;
 }
 56% {
 	left: 1270px;
 	 
 }
 58% {
 }
 60% {
 }
 62% {
 	
 }
 64% {
 	
 }
 66% {
 	
 }
 68% {
 	
 }
 70% {
 	
 }
 72% {
 	
 }
 74% {
 	
 }
 76% {
 	
 }
 78% {
 	
 }
 80% {
 	
 }
 82% {
 	
 }
 84% {
 	
 }
 86% {
 	
 }
 88% {
 	
 }
 90% {
 	
 }
 92% {
 	
 }
 94% {
 	
 }
 96% {
 	
 }
 98% {
 	
 }
 100% {
 	
 }
}